<div class="intro px-4" *ngIf="!start">
    <div class="row justify-content-center">
        <div class="col col-sm-8 text-center">
            <h2>Bienvenid@ a Spacestory App <br> Una aplicación web programada en Angular. </h2>
            <p>En ella se aplican conceptos básicos como Componentes, Interfaces, @input, ngIf y ngFor</p>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col mt-4 d-grid col-6">
            <button (click)="comenzar()" class="btn btn-lg btn-primary p-4">Comenzar</button>
        </div>
    </div>
</div>

<div class="parts row historyPills" *ngIf="start">
    <app-escena [historyParts]="historyParts"></app-escena>

</div>


<!--  -->